html, body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.webgl {
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
}
